Here we are going to use cloud version of MongoDB called Atlas , so that we don't have to do any kind of setup in our local system at all.

1. Use this following link: [MongoDB](https://www.mongodb.com/) This is a free version of MongoDB for certain extent without (credit/debit) card.

2. Click on `Try Free`

<br>
    <img src="assets/try_free.PNG" alt="Try Free" width="800" height="450"/>

3. Setup account

<br>
    <img src="assets/setup_account.PNG" alt="account setup" width="400" height="450"/>

4. Once we are going to click on finish setup we have to choose `M0` instances which is free. and we are going to use in industry no change. (it will initiate a virtual machine and install mongodb to use).

<br>
    <img src="assets/m0_instance.PNG" alt="Instance selection" width="800" height="350"/>

5. Provider you can choose which ever you want `if you are a paid user` else select `AWS`

<br>
    <img src="assets/provider.PNG" alt="Provider Selection" width="300" height="100"/>

6. Region: Nearest region based on geo-location. (nearest because network letency will be low)

<br>
    <img src="assets/region.PNG" alt="Region Selection" width="400" height="250"/>

7. Click on `Create` and fill the captcha

<br>
    <img src="assets/fill_captcha.PNG" alt="captcha fill" width="800" height="450"/>

8. Now it will ask for `Username`, `Password`, (username and password even in later stage we can change it, to modify it go to `Security` -> `Database Access`)

<br>
    <img src="assets/username_password.PNG" alt="captcha fill" width="400" height="250"/>

9. Now we have to setup connection between python to mondoDB, means we are rtying to connect mongoDB from outside the world, because python is available in local system and mongoDB is available in Atlas.
    - So here if we have to establish the connection, we have to open our mongoDB for outer world.
    - SO that outer world can connect, keeping that in a mind, we have to give a `White listing address` - **IP Address** `0.0.0.0/0` this is the entry we suppose to make, if we do not make this entry in that case it is going to give us a issue.

<br>
    <img src="assets/white_listing_address.PNG" alt="white address" width="400" height="250"/>

10. Click on `Finish and Close` 

After some time it will going to commence a cluster for us. this cluster is nothing but a system installed with mongoDB. So now our cluster up and ruuning means our installation is done. Our cluster is active.

11. Click on `Connect`

<br>
    <img src="assets/my_cluster.PNG" alt="Click on Connect" width="900" height="450"/>

- Here we have multiple options
- Click on `Drivers`    
<br>
    <img src="assets/click_on_connect.PNG" alt="Driver Option" width="400" height="450"/>



12. After clicking on `Driver`, will get th econnectivity through that chosen language, it almost provides connectivity to all languages. it will provide us the connection code 

<br>
    <img src="assets/click_on_driver.PNG" alt="Connectivity code" width="400" height="650"/>

- MongoDB Atlas will give us connection URL we just have to pass the password to it.
- Once we are able to establish the connectivity, we can perform any CURD operation on database.

In [1]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://shelker718:shelker718@cluster0.5hqrs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

- if `pymongo` is not installed then install it.

- MongoDB is NoSQL Database, it is called as Document based database.

- **Meaning:** We will be able to store data in a dictionary formate in key value pair, or can say in Json format `Java script object notation` format, which is called document format.

`DataBase` -> `Collection` -> `Documents` (as many document's apossible)

**Note:** We are not suppose to define structure of data in 1st place.

#### Create Database

In [2]:
uri = "mongodb+srv://shelker718:shelker718@cluster0.5hqrs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

In [4]:
# db is a database
db = client['shelke718']

In [5]:
# under the database db will create a collection, collection is equivalent to table
coll_create = db["my_record"] # collection name: my_record

- we will not be able to see the database inside the cluster collection untill and unless we add data to collection

In [6]:
# creating data
data = {
     "name": "rahul",
     "class": "data science with genAI",
     "timing": "flexi"
}

In [7]:
data

{'name': 'rahul', 'class': 'data science with genAI', 'timing': 'flexi'}

In [8]:
# will store this document inside collection
coll_create.insert_one(data)

<br>
    <img src="assets/one_record.PNG" alt="Click on Connect" width="900" height="450"/>

- Practically this is how our data look like inside a collection : `my_record`
- `id` will be provided by default

Now let's insert new data and it will be completely different from earlier one, and will insert it in same record `my_record`

In [9]:
data1 = {
    "mail_id": "rahul@gmail.com",
    "phone_number": 5464646465,
    
}

### Inserting One record

In [10]:
coll_create.insert_one(data1)

In [11]:
data2 = {
    "list_course": ['data science masters', 'web dev', 'Java with DSA'],
    "mentor": ['rahul', 'ajay', 'ankit']
}

In [12]:
coll_create.insert_one(data2)

### Inserting Many record

In [13]:
data3 = [
    {
        "name": "Amit",
        "address": "Park Street 123"
    },
    {
        "name": "Priya",
        "address": "Lake View 456"
    },
    {
        "name": "Raj",
        "address": "Main Road 789"
    },
    {
        "name": "Anita",
        "address": "Greenfield 101"
    },
    {
        "name": "Ravi",
        "address": "Sunny Side 202"
    },
    {
        "name": "Sita",
        "address": "Rose Garden 303"
    },
    {
        "name": "Vijay",
        "address": "Elm Street 404"
    },
    {
        "name": "Neha",
        "address": "Palm Avenue 505"
    },
    {
        "name": "Kiran",
        "address": "Blue Hill 606"
    },
    {
        "name": "Deepak",
        "address": "Star Lane 707"
    },
    {
        "name": "Meera",
        "address": "Hilltop 808"
    },
    {
        "name": "Sanjay",
        "address": "River Bank 909"
    }
]

In [15]:
coll_create.insert_many(data3)

In [16]:
data4 = {
    "name": "notebook",
    "qty": 50,
    "rating": [ {"score": 8}, {"score": 9} ],
    "size": {"height": 11, "width": 8.5, "unit": "in"},
    "status": "A",
    "tags": ["college-ruled", "perforated"]
}

In [17]:
coll_create.insert_one(data4)

In [18]:
list_of_records = [
    {
        'companyName': 'MyNeuron',
        'product': 'Affordable AI',
        'courseOffered': 'Machine Learning with Deployment'
    },

    {
        'companyName': 'MyNeuron',
        'product': 'Affordable AI',
        'courseOffered': 'Deep Learning for NLP and Computer vision'
    },

    {
        'companyName': 'MyNeuron',
        'product': 'Affordable AI',
        'courseOffered': 'Data Science Masters Program'
    },
]

In [19]:
coll_create.insert_many(list_of_records)

## If someone ask me can you show me all the record in python ?

### Record Find

In [20]:
coll_create.find()

In [21]:
for document in coll_create.find():
    print(document)

{'_id': ObjectId('66c06248653d1fb52634afbc'), 'name': 'rahul', 'class': 'data science with genAI', 'timing': 'flexi'}
{'_id': ObjectId('66c064ce653d1fb52634afbd'), 'mail_id': 'rahul@gmail.com', 'phone_number': 5464646465}
{'_id': ObjectId('66c06558653d1fb52634afbe'), 'list_course': ['data science masters', 'web dev', 'Java with DSA'], 'mentor': ['rahul', 'ajay', 'ankit']}
{'_id': ObjectId('66c066d1653d1fb52634afbf'), 'name': 'Amit', 'address': 'Park Street 123'}
{'_id': ObjectId('66c066d1653d1fb52634afc0'), 'name': 'Priya', 'address': 'Lake View 456'}
{'_id': ObjectId('66c066d1653d1fb52634afc1'), 'name': 'Raj', 'address': 'Main Road 789'}
{'_id': ObjectId('66c066d1653d1fb52634afc2'), 'name': 'Anita', 'address': 'Greenfield 101'}
{'_id': ObjectId('66c066d1653d1fb52634afc3'), 'name': 'Ravi', 'address': 'Sunny Side 202'}
{'_id': ObjectId('66c066d1653d1fb52634afc4'), 'name': 'Sita', 'address': 'Rose Garden 303'}
{'_id': ObjectId('66c066d1653d1fb52634afc5'), 'name': 'Vijay', 'address': 'Elm Street 404'}
{'_id': ObjectId('66c066d1653d1fb52634afc6'), 'name': 'Neha', 'address': 'Palm Avenue 505'}
{'_id': ObjectId('66c066d1653d1fb52634afc7'), 'name': 'Kiran', 'address': 'Blue Hill 606'}
{'_id': ObjectId('66c066d1653d1fb52634afc8'), 'name': 'Deepak', 'address': 'Star Lane 707'}
{'_id': ObjectId('66c066d1653d1fb52634afc9'), 'name': 'Meera', 'address': 'Hilltop 808'}
{'_id': ObjectId('66c066d1653d1fb52634afca'), 'name': 'Sanjay', 'address': 'River Bank 909'}
{'_id': ObjectId('66c067b1653d1fb52634afcb'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('66c068dd653d1fb52634afcc'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66c068dd653d1fb52634afcd'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66c068dd653d1fb52634afce'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Data Science Masters Program'}

- Yes, we are able to find all the records

In [22]:
# lets insert some more random records
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
]

In [23]:
coll_create.insert_many(random_data)

Let's find one document from all documents

In [27]:
coll_create.find_one() # return 1st record as default

{'_id': ObjectId('66c06248653d1fb52634afbc'),
 'name': 'rahul',
 'class': 'data science with genAI',
 'timing': 'flexi'}

Find only thode documents where key is `companyName` and values is `iNeuron`

### Record Find based on condition

In [30]:
coll_create.find({'companyName': 'iNeuron'})

In [31]:
for doc in coll_create.find({'companyName': 'iNeuron'}):
    print(doc)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

FInd `id` based on certain conditions

- find id greater than equal to 4

In [32]:
coll_create.find({'_id': {'$gte' : '4'}})

In [33]:
for doc in coll_create.find({'_id': {'$gte' : '4'}}):
    print(doc)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

`$gte` this is a reserved key word in mongoDB mean -> greater than equal to

### Modify record

if someone ask us to change the company name `iNeuron` to `MyNeuron`

in case of `update_one`: 1st found record will be changed

In [36]:
# update all: {key: "old_value"} -> {"$set" : {key: "new_value"}}

coll_create.update_many({'companyName': 'iNeuron'}, { "$set" : {'companyName': 'MyNeuron'}})

- it will find all the records with company name `iNeuron` change it to `MyNeuron`

In [37]:
# lets find record and see the changes

for document in coll_create.find():
    print(document)

{'_id': ObjectId('66c06248653d1fb52634afbc'), 'name': 'rahul', 'class': 'data science with genAI', 'timing': 'flexi'}
{'_id': ObjectId('66c064ce653d1fb52634afbd'), 'mail_id': 'rahul@gmail.com', 'phone_number': 5464646465}
{'_id': ObjectId('66c06558653d1fb52634afbe'), 'list_course': ['data science masters', 'web dev', 'Java with DSA'], 'mentor': ['rahul', 'ajay', 'ankit']}
{'_id': ObjectId('66c066d1653d1fb52634afbf'), 'name': 'Amit', 'address': 'Park Street 123'}
{'_id': ObjectId('66c066d1653d1fb52634afc0'), 'name': 'Priya', 'address': 'Lake View 456'}
{'_id': ObjectId('66c066d1653d1fb52634afc1'), 'name': 'Raj', 'address': 'Main Road 789'}
{'_id': ObjectId('66c066d1653d1fb52634afc2'), 'name': 'Anita', 'address': 'Greenfield 101'}
{'_id': ObjectId('66c066d1653d1fb52634afc3'), 'name': 'Ravi', 'address': 'Sunny Side 202'}
{'_id': ObjectId('66c066d1653d1fb52634afc4'), 'name': 'Sita', 'address': 'Rose Garden 303'}
{'_id': ObjectId('66c066d1653d1fb52634afc5'), 'name': 'Vijay', 'address': 'Elm Street 404'}
{'_id': ObjectId('66c066d1653d1fb52634afc6'), 'name': 'Neha', 'address': 'Palm Avenue 505'}
{'_id': ObjectId('66c066d1653d1fb52634afc7'), 'name': 'Kiran', 'address': 'Blue Hill 606'}
{'_id': ObjectId('66c066d1653d1fb52634afc8'), 'name': 'Deepak', 'address': 'Star Lane 707'}
{'_id': ObjectId('66c066d1653d1fb52634afc9'), 'name': 'Meera', 'address': 'Hilltop 808'}
{'_id': ObjectId('66c066d1653d1fb52634afca'), 'name': 'Sanjay', 'address': 'River Bank 909'}
{'_id': ObjectId('66c067b1653d1fb52634afcb'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('66c068dd653d1fb52634afcc'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66c068dd653d1fb52634afcd'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66c068dd653d1fb52634afce'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'MyNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'MyNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'MyNeuron', 'Faculty': 'PQR'}

In [38]:
for doc in coll_create.find({'companyName': 'MyNeuron'}):
    print(doc)

{'_id': ObjectId('66c068dd653d1fb52634afcc'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66c068dd653d1fb52634afcd'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66c068dd653d1fb52634afce'), 'companyName': 'MyNeuron', 'product': 'Affordable AI', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'MyNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'MyNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'MyNeuron', 'Faculty': 'PQR'}

## Drop complete collection

In [39]:
coll_create.drop()

In [40]:
for doc in coll_create.find({'companyName': 'MyNeuron'}):
    print(doc)

No results , means droped the entire collection itself